<!DOCTYPE html>
<html>
<head>
    <title>Contact - AI Career Guidance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">AI Career Guide</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/#features">Features</a>
        <a href="/contact">Contact</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>

<section class="page-section">
    <div class="page-card contact-card">
        <h1>Contact Developer</h1>
        <p>For project details, collaboration, or improvement suggestions, you can contact the developer.</p>

        <div class="contact-list">
            <div><strong>Name:</strong> Niranjan.C</div>
            <div><strong>College:</strong> V.S.B. Engineering College , Karudayampalayam , Karur</div>
            <div><strong>Department:</strong>B.E Computer and Communication Engineering</div>
            <div><strong>GitHub:</strong> github.com/Niranjan3419</div>
        </div>

        <a href="https://github.com/Niranjan3419/AI-Career-Guidance-System" target="_blank" class="btn primary">
            View GitHub Project
        </a>
    </div>
</section>

</body>
</html>